img/*
!img/pptx/**
!img/pptx/
!img/slides/
!img/slides/**
!img/image1.jpg
!img/image53.jpg
!img/m1_image57.jpeg
!img/m1_image58.png
!img/m1_image59.png
!img/m1_image61.png
!img/m1_image63.png
!img/m1_image65.png
.DS_Store
_test*.html
